<section class="section_one d-flex">
   <!-- Thẻ Chứa Slideshow -->
   <div class="d-flex col-10 m-auto section_one_slide">
      <div class="slide col-7">
         <div class="slide_banner" id="slider1">
            <img class="slide-image" src="/assets/Client/image/main/01pyixtjzfd0eibvn3d99o3832.jpg" alt="" width="100%"
               height="100%" class="p-1">
            <div class="btn_slide d-flex p-2">
               <button onclick="prevSlide('slider1')" class="material-symbols-outlined">arrow_back_ios</button>
               <button onclick="nextSlide('slider1')" class="material-symbols-outlined">arrow_forward_ios</button>
            </div>
         </div>

      </div>

      <div class="box_img col-5">
         <img class="p-1" src="/assets/Client/image/main/1721200384nowfree-3-846x250.jpg" alt="" width="100%">
         <img class="p-1" src="/assets/Client/image/main/z5959425286316_684c8469eb26dcb2112174d898c1cc71.jpg" alt=""
            width="100%" height="100%">
      </div>
   </div>
</section>
<main class="col-10 m-auto">
   <section class="flash">
      <div class="box_title d-flex align-items-center justify-content-between p-3">
         <h3>Flash Deals</h3>

      </div>
      <div class="flash_box d-flex">
         <% for (let p of products) { %>
            <% if (p.status==1) { %>
               <% if (p.discount_price>0 ) { %>
                  <a class="card col-2" href="/productDetail/<%= p.id %>">
                     <div class="box_image">
                        <img class="image" src="/assets/uploads/Products/<%=p.image %>" alt height="100%">
                        <!-- <img class="image_hover"
                     src="/assets/Client/image/products/narciso-rodriguez-x-hasakigiay-chung-nhan-dai-ly-chinh-hang1714041486_img_385x385_622873_fit_center.jpg"
                     alt> -->
                     </div>

                     <div class="title">
                        <% if (p.discount_price && p.discount_price> 0) { %>
                           <div class="price">
                              <span>
                                 <%= formatCurrency(p.discount_price) %>
                              </span>
                              <span class="price_sales">
                                 <%= formatCurrency(p.price) %>
                              </span>
                           </div>
                           <% } else{%>
                              <div class="price">
                                 <span>
                                    <%= formatCurrency(p.price) %>
                                 </span>
                              </div>
                              <% } %>

                                 <h4 class="name_product">
                                    <%= p.name %>
                                 </h4>
                                <div class="content"><%- p.description %></div>


                     </div>
                     <% if (p.discount_price>0) { %>
                        <div class="sale">
                           <%= Math.round(((p.price - p.discount_price) / p.price) * 100) %>%
                        </div>
                        <% } %>
                  </a>
                  <% } %>
                     <% } %>
                        <% } %>
      </div>
      <div class="box_btn">
         <button class="btn-left"><span class="material-symbols-outlined">
               arrow_back_ios
            </span></button>
         <button class="btn-right"><span class="material-symbols-outlined">
               arrow_forward_ios
            </span></button>
      </div>
   </section>

   <section class="row-cols-3 d-flex">
      <div class="col-4 col-md-1 col-lg-4 rounded-3 p-2 mt-3  img-box"><img class="rounded-3" height="100%"
            src="/assets/Client/image/main/9e416f930e4e557bf47c5ff0c08cac43.jpg" alt="" width="100%"></div>
      <div class="col-4 col-md-1 col-lg-4 rounded-3 p-2 mt-3 img-box "><img class="rounded-3" height="100%"
            src="/assets/Client/image/main/25b9622615589d19cae8d3ec3cb80ed2.jpg" alt="" width="100%"></div>
      <div class="col-4 col-md-1 col-lg-4 rounded-3 p-2 mt-3  img-box"><img class="rounded-3" height="100%"
            src="/assets/Client/image/main/box3.jpg" alt="" width="100%"></div>
   </section>

   <section class="brand ">
      <div class="box_title d-flex align-items-center justify-content-between ">
         <h3>Thương hiệu </h3>
         <a href="">Xem tất cả</a>
      </div>
      <div class="d-flex box_category justify-content-center align-items-center">
         <div class="col-4 box_category_left">
            <div class="slide_banner" id="slider2">
               <img class="slide-image" src="/assets/Client/image/category/1bdca5d0dd3ce9c02ee514d9039b07bc.jpg" alt=""
                  width="100%" height="100%" class="p-1">
               <div class="btn_slide d-flex p-2 justify-content-between">
                  <button onclick="prevSlide('slider2')" class="material-symbols-outlined">arrow_back_ios</button>
                  <button onclick="nextSlide('slider2')" class="material-symbols-outlined">arrow_forward_ios</button>
               </div>
            </div>
         </div>
         <div class="col-8  box_category_right p-2">
            <div class="flash_box slider_box_right">
               <ul class="category-list d-flex">
                  <% for (let calog of categories) { %>
                     <% if (calog.id % 2 !==0) { %>
                        <li class="m-1 col-3">
                           <div class="card_category">
                              <a href="/productByCalog/<%= calog.id %>">
                                 <img src="/assets/uploads/categogies/<%=calog.image %>" alt="" width="100%"
                                    height="100%">
                                 <div class="name_brand">
                                    <h2>
                                       <%= calog.name %>
                                    </h2>
                                 </div>
                              </a>
                           </div>
                        </li>
                        <% } %>
                           <% } %>
               </ul>
               <ul class="category-list d-flex">
                  <% for (let calog of categories) { %>
                     <% if (calog.id % 2===0) { %>
                        <li class="m-1 col-3">
                           <div class="card_category">
                              <a href="/productByCalog/<%= calog.id %>">
                                 <img src="/assets/uploads/categories/<%=calog.image %>" alt="" width="100%"
                                    height="100%">
                                 <div class="name_brand">
                                    <h2>
                                       <%= calog.name %>
                                    </h2>
                                 </div>
                              </a>
                           </div>
                        </li>
                        <% } %>
                           <% } %>
               </ul>
               <div class="box_btn_category">
                  <button class="btn-left"><span class="material-symbols-outlined">arrow_back_ios</span></button>
                  <button class="btn-right"><span class="material-symbols-outlined">arrow_forward_ios</span></button>
               </div>
            </div>

         </div>

      </div>
   </section>

   <section class="all_product">
      <div class="box_title d-flex align-items-center justify-content-between p-3">
         <h3>Sản phẩm</h3>
         <a href="">Xem tất cả</a>
      </div>
      <div class="row  box_card col-12">
         <% for (let p of products) { %>
            <% if (p.status==1) { %>
               <a class="card" href="/productDetail/<%= p.id %>">
                  <div class="box_image">
                     <img class="image" src="/assets/uploads/products/<%=p.images[0] %>" alt height="100%">
                     <!-- <img class="image_hover"
                     src="/assets/Client/image/products/narciso-rodriguez-x-hasakigiay-chung-nhan-dai-ly-chinh-hang1714041486_img_385x385_622873_fit_center.jpg"
                     alt> -->
                  </div>

                  <div class="title">
                     <% if (p.discount_price && p.discount_price> 0) { %>
                        <div class="price">
                           <span>
                              <%= formatCurrency(p.discount_price) %>
                           </span>
                           <span class="price_sales">
                              <%= formatCurrency(p.price) %>
                           </span>
                        </div>
                        <% } else{%>
                           <div class="price">
                              <span>
                                 <%= formatCurrency(p.price) %>
                              </span>
                           </div>
                           <% } %>

                              <h4 class="name_product">
                                 <%= p.name %>
                              </h4>
                              <div class="content"><%- p.description %></div>

                  </div>
                  <% if (p.discount_price>0) { %>
                     <div class="sale">
                        <%= Math.round(((p.price - p.discount_price) / p.price) * 100) %>%
                     </div>
                     <% } %>
               </a>
               <% } %>
                  <% } %>

      </div>


      <div class="title_all_product">
         <a class="" href=""> Xem thêm</a>
      </div>
   </section>
</main>